#navigation {
    background: #38414a;
    height: 58px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

ul {
    display: inline-block;
    padding: 0;
    margin-left: 80px;
}

li {
    list-style-type: none;
    color: rgba(255,255,255,.7);
    display: inline;
    margin-right: 22px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.home-icon {
    margin-right: 5px;
}

.properties-icon {
    margin-right: 5px;
}

.tenants-icon {
    margin-right: 5px;
}
