.wrapper {
    background-color: whitesmoke;
    height: 100vh;
}

.properties-title {
    margin-top: 0px;
    padding-top: 8px;
    text-align: center;
    font-size: 20px;
}

.properties-List {
    padding-top: 25px;
    
}

table {
    border-spacing: 0px;
    border-color: black;
    width: 85%;
    height: 60vh;
    
}

th.Property-name {
    padding-right   : 10px;
    padding-left    : 10px;
    font-size       : 17px;
    background-color: darkgray
    
}

th.Address {
    padding-right   : 10px;
    padding-left    : 10px;
    font-size       : 17px;
    background-color: darkgray

}

th.City {
    padding-right   : 10px;
    padding-left    : 10px;
    font-size       : 17px;
    background-color: darkgray

}

th.State {
    padding-right   : 10px;
    padding-left    : 10px;
    font-size       : 17px;
    background-color: darkgray

}

th.Zipcode {
    padding-right   : 10px;
    padding-left    : 10px;
    font-size       : 17px;
    background-color: darkgray

}


tr {
    background-color: lightgray;
    color           : black;
    text-align      : center;
}

Button {
    border-style: none;
    border-radius: 3px;
    font-size: 15px;
}

.details-btn {
    margin-right: -20px;
    background-color: lightblue
}

.update-btn {
    margin-right: -20px;
    background-color: lightgreen
}

.delete-btn {
    margin-left: -5px;
    background-color: rgba(255, 0, 0, 0.555)
}

.details {
    background: whitesmoke
}

.update {
    background: whitesmoke
}

.delete {
    background: whitesmoke
}


.add-property {
    float: right;
    margin-top: 15px;
}